<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>떡잎펀드</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <!-- Favicon -->
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/common/favicon.ico"/>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div th:replace="/profile/thumbnail.html"></div>
<div class="email-div">
    <br clear="both">
    <div id="changeEmail-p">이메일 변경</div>
    <div id="changePhone-p">Phone 변경</div>
    <div id="changePwd-p">비밀번호 변경</div>
    <hr style="width: 540px; margin-left: -30px" align="center">
    <form id="phone-form" name="saveForm" action="/profile/modify/phone" method="post">
        <label>Phone</label><br>
        <input type="text" id="phone" name="phone" th:value="${ member.phone }" placeholder="Phone">
        <input type="button" id="send-phone" value="인증번호 전송">
        <input type="hidden" id="phone-verification">
        <br>
        <label>인증번호</label>
        <div id="phone-verification-div">
            <!--휴대전화 번호 인증번호 입력칸-->
            <input type="text" id="verification" name="verification" placeholder="인증번호">
            <!--휴대전화 번호 인증번호 확인 버튼-->
            <input type="button" class="small-btn" id="check-phone-verification" value="확인">
            <input type="hidden" id="checkPhoneResult" value="false">
        </div>
        <input type="submit" id="save" value="저장">
        <input type="button" id="cancel" value="취소">
    </form>
</div>
</body>
    <script>

        document.getElementById("changeEmail-p").onclick = function() {
            location.href = "/profile/modify/email";
        }

        document.getElementById("changePhone-p").onclick = function() {
            location.href = "/profile/modify/phone";
        }

        document.getElementById("changePwd-p").onclick = function() {
            location.href = "/profile/modify/pwd";
        }

        if(document.getElementById("send-phone")) {

            document.getElementById("send-phone").onclick = function() {

                let $phone = document.getElementById("phone").value;

                let phone = {
                    method: 'POST',
                    body: $phone,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }

                fetch("/profile/send/phone/verification", phone)
                    .then(response => response.json())
                    .then(response => {

                        if(response === "휴대전화 번호를 입력해주세요."){
                            Swal.fire({
                                title: response,
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: '확인',
                                allowEnterKey: false,
                                confirmButtonWidth: '100px',
                                customClass: {
                                    cancelButton: 'savecancel',
                                    popup: 'savepopup'
                                },
                                buttonsStyling: false,
                            });
                        }

                        if(response === "이미 사용중인 휴대전화 번호입니다.") {
                            Swal.fire({
                                title: response,
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: '확인',
                                allowEnterKey: false,
                                confirmButtonWidth: '100px',
                                customClass: {
                                    cancelButton: 'savecancel',
                                    popup: 'savepopup'
                                },
                                buttonsStyling: false,
                            });
                        }
                        if(response !== "휴대전화 번호를 입력해주세요." && response !== "이미 사용중인 휴대전화 번호입니다.") {

                            document.getElementById("phone-verification").value = response;
                            console.log(response);

                            Swal.fire({
                                title: '인증번호가 전송되었습니다.',
                                showCancelButton: true,
                                showConfirmButton: false,
                                cancelButtonText: '확인',
                                allowEnterKey: false,
                                confirmButtonWidth: '100px',
                                customClass: {
                                    cancelButton: 'savecancel',
                                    popup: 'savepopup'
                                },
                                buttonsStyling: false,
                            });
                        }
                    })
                    .catch(error => {
                        alert(error);
                    })
            }
        }

        const $checkPhoneVerification = document.getElementById("check-phone-verification");

        if($checkPhoneVerification){
            $checkPhoneVerification.onclick = function() {

                let $phoneVerification = document.getElementById("phone-verification").value;
                let $verification = document.getElementById("verification").value;

                if($phoneVerification === $verification){
                    document.getElementById("checkPhoneResult").value = "true";
                    Swal.fire({
                        title: '인증되었습니다.',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: '확인',
                        allowEnterKey: false,
                        confirmButtonWidth: '100px',
                        customClass: {
                            cancelButton: 'savecancel',
                            popup: 'savepopup'
                        },
                        buttonsStyling: false,
                    });
                }
                if($phoneVerification !== $verification) {
                    Swal.fire({
                        title: '인증 번호가 일치하지 않습니다.',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: '확인',
                        allowEnterKey: false,
                        confirmButtonWidth: '100px',
                        customClass: {
                            cancelButton: 'savecancel',
                            popup: 'savepopup'
                        },
                        buttonsStyling: false,
                    });
                }
            }
        }

        window.addEventListener('load', (e) => {
            const $save = document.getElementById("save");
            const $form = document.getElementById("phone-form");

            $save.addEventListener('click', (e) => {
                e.preventDefault();

                let phone = document.getElementById("phone").value;
                let checkPhoneResult = document.getElementById("checkPhoneResult").value;

                if(phone == null){
                    Swal.fire({
                        title: '휴대전화 번호를 입력해주세요.',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: '확인',
                        allowEnterKey: false,
                        confirmButtonWidth: '100px',
                        customClass: {
                            cancelButton: 'savecancel',
                            popup: 'savepopup'
                        },
                        buttonsStyling: false,
                    });
                }
                if(checkPhoneResult == "false") {
                    Swal.fire({
                        title: '휴대전화 번호 인증을 해주세요.',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: '확인',
                        allowEnterKey: false,
                        confirmButtonWidth: '100px',
                        customClass: {
                            cancelButton: 'savecancel',
                            popup: 'savepopup'
                        },
                        buttonsStyling: false,
                    });
                }
                if(checkPhoneResult == "true") {
                    Swal.fire({
                        title: '휴대전화 번호가 변경되었습니다.',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: '확인',
                        allowEnterKey: false,
                        confirmButtonWidth: '100px',
                        customClass: {
                            cancelButton: 'savecancel',
                            popup: 'savepopup'
                        },
                        buttonsStyling: false,
                    });
                    $form.submit();
                }
            })
        });

        document.getElementById("cancel").onclick = function() {
            location.href = "/following/list";
        }
    </script>
</html>