<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main style="width: 1920px">
        <div class="row">
            <div th:replace="/common/adminheader.html"></div>
        </div>
        <div class="row">
            <div class="col-2">
                <div th:replace="/project/manage/end/submenu.html"></div>
            </div>
            <div cols="col-9">
                <!-- 각 submenu에 맞게 이 영역을 수정하시면 됩니다~! -->
            </div>
        </div>
    </main>
</body>
</html>