<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<style>

        .bl{
            /*border: 1px solid orangered;*/
        }
        
        .dashboard-title{
	        position: relative;
	        top: 60%
        }
        .chard-area{
            height: 500px;
        }
	</style>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Harmic - My account</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

	
	<!-- CSS
	============================================ -->
	
	<!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
	<link rel="stylesheet" th:href="@{/css/vendor/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/vendor/Pe-icon-7-stroke.css}" />
	
	<!-- Plugin CSS (Global Plugins Files) -->
	<link rel="stylesheet" th:href="@{/css/plugins/animate.min.css}">
	<link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.min.css}">
	<link rel="stylesheet" th:href="@{/css/plugins/swiper-bundle.min.css}">
	<link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}">
	<link rel="stylesheet" th:href="@{/css/plugins/magnific-popup.min.css}"/>
	
	<!-- Style CSS -->
	<!--  <link rel="stylesheet" href="assets/css/style.css">-->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/mypage.css}">

</head>
<body>

<div class="main-wrapper">
	<div th:replace="/common/adminheader.html"></div>

	
</div>
	
 
<script>

</script>

</body>

</html>