<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>개별 프로젝트 상세조회 - 진행완료</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/common/favicon.ico" />

  <!-- CSS
  ============================================ -->

  <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
  <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/vendor/Pe-icon-7-stroke.css}" />

  <!-- Plugin CSS (Global Plugins Files) -->
  <link rel="stylesheet" th:href="@{/css/plugins/animate.min.css}">
  <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.min.css}">
  <link rel="stylesheet" th:href="@{/css/plugins/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}">
  <link rel="stylesheet" th:href="@{/css/plugins/magnific-popup.min.css}"/>

  <!-- Style CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css }">
  <link rel="stylesheet" th:href="@{/css/project.css }">
</head>

<body>
<div class="main-wrapper">
  <div th:replace="@{ /common/menubar.html }"></div>
  <!-- Begin Main Content Area  -->
  <main class="main-content">
    <div class="single-product-area section-space-top-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-product-img h-100">
              <div class="swiper-container single-product-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="/images/product/large-size/2-1-555x645.jpg" class="single-img gallery-popup">
                      <img th:src="${ '/upload/original/' + attachment.get(0).projectAttachmentSaveName }" alt="Product Image" style="width: 600px; height: 400px;">
                    </a>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-thumb-with-content row">
              <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                <div class="single-product-content">
                  <input type="hidden" th:value="${ project.projectNo }">
                  <div class="title" th:text="${ project.projectName }"></div><progress th:value="${ project.achievementRate }" max="100"></progress>
                  <div class="infoBox2 rounded-1">
                    <div>
                      <span class="short-desc"></span>
                    </div>
                    <div class="farmerCorp">
                      <a th:text="${ project.achievementRate }"></a><span class="info">% 달성</span>
                    </div>
                    <div class="farmerCorp">
                      <a th:text="${ project.fundTargetAmount }"></a><span class="info">원 펀딩</span>
                    </div>
                    <div class="farmerCorp">
                      <a class="info" th:text="${ supporter.size() }"></a><span class="info">명의 서포터</span>
                    </div>
                  </div><br>
                  <div class="button-box">
                    <button class="basic-btn btn1 alittle-bigbig-btn" th:text="${ project.endDate }" style="width: 100%;"></button>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-tab-area section-space-top-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="active btn btn-custom-size" id="story-tab" data-bs-toggle="tab" href="#story" role="tab" aria-controls="story" aria-selected="true">
                  스토리
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="btn btn-custom-size" id="farmerInfo-tab" data-bs-toggle="tab" href="#farmerInfo" role="tab" aria-controls="farmerInfo" aria-selected="false">
                  파머 정보
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="btn btn-custom-size" id="notice-tab" data-bs-toggle="tab" href="#notice" role="tab" aria-controls="notice" aria-selected="false">
                  농사일지
                </a>
              </li>
            </ul>

            <div class="tab-content product-tab-content">
              <!-- Begin 스토리 -->
              <div class="tab-pane fade show active" id="story" role="tabpanel" aria-labelledby="story-tab">
                <br>
                <div class="notice">
                  <p class="noticeP"><img src="/images/common/alert.png">
                    도서산간에 해당하는 서포터님은 배송 가능 여부를 반드시 파머에게 문의 후 펀딩에 참여해주세요.</p>
                </div>
                <div class="product-description-body">
                  <img class="img-full" th:src="${'/upload/original/' + attachment.get(2).projectAttachmentSaveName}" alt="Product Image">
                </div>
              </div>
              <!-- 스토리 End Here -->

              <!-- Begin 파머정보 -->
              <div class="tab-pane fade" id="farmerInfo" role="tabpanel" aria-labelledby="farmerInfo-tab">
                <div class="product-review-body">
                  <ul class="user-info-wrap">
                    <ul class="user-info">
                      <img th:src="${'/upload/original/' + attachment.get(3).projectAttachmentSaveName}" alt="Product Image" style="width: 500px; height: 300px;">
                      <div class="col-lg-1 order-2 pt-10 pt-lg-0"></div>
                      <div class="col-lg-2 order-2 pt-10 pt-lg-0">
                        <p>상호 명</p>
                        <p>리워드 명</p>
                        <p>파머 명</p>
                        <p>파머 전화번호</p>
                        <p>파머 이메일</p>
                      </div>
                      <div class="col-lg-3 order-2 pt-10 pt-lg-0">
                        <p th:text="${ projectInfo.farmer.businessName }"></p>
                        <p th:text="${ projectInfo.rewardRegistInfo.rewardName }"></p>
                        <p th:text="${ projectInfo.farmer.farmerName }"></p>
                        <p th:text="${ projectInfo.farmer.farmerPhone }"></p>
                        <p th:text="${ projectInfo.farmer.farmerEmail }"></p>
                      </div>
                    </ul>
                  </ul>
                </div>
              </div>
              <!-- 파머정보 End Here -->
              <div class="notice-wrap">
                <div class="cont-div">
                  <div id="projectNoticeList">
                    <table>
                      <thead>
                      <tr>
                        <th style="width: 10%">번호</th>
                        <th style="width: 75%">제목</th>
                        <th style="width: 15%">작성일</th>
                      </tr>
                      </thead>
                      <tbody th:each="projectNotice : ${ projectNotice }">
                      <!-- 문의 제목 행 -->
                      <tr>
                        <td th:text="${ projectNotice.projectNoticeNo }"></td>
                        <td th:text="${ projectNotice.projectNoticeTitle }" class="align_l tit" style="cursor: pointer;"></td>
                        <td th:text="${ projectNotice.registDate }"></td>
                      </tr>
                      <!-- 문의 내용 행 -->
                      <tr style="display: none;">
                        <td th:text="${ projectNotice.projectNoticeContent }" class="align_l" colspan="3"></td>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:include="@{ /common/footer.html }"></div>
</div>
</div>

<!-- Global Vendor, plugins JS -->

<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->
<script>
  const projectNo = 2;

  function projectNoticeData(projectNoticeNo, projectNoticeTitle, projectNoticeCount, registDate) {

    return {projectNoticeNo, projectNoticeTitle, projectNoticeCount, registDate};
  }

  function findProjectNoticeList() {
    fetch('/project/notice/list/{projectNo}').then(resonse => {
      if (resonse.ok) {
        return resonse.json();
      }
    }).then(json => {
      let html = '';

      if (!json.length) {
        html = '<td colspan="5">등록된 게시글이 없습니다.</td>';
      } else {
        json.forEach((projectNoticeData, idx) => {
        });
      }
    });
  }

  /*공지사항 제목 클릭 토글*/
  var $qnaTit = $('td.tit');
  $qnaTit.click(function(e) {
    e.preventDefault();
    var target = $(this);
    var index = target.index();
    target.parent().toggleClass('active');
    target.parent().next().toggle();
    target.parent().next().next().toggle();
  });
</script>
<script th:src="@{ /js/vendor/bootstrap.bundle.min.js }"></script>
<script th:src="@{ /js/vendor/jquery-3.5.1.min.js }"></script>
<script th:src="@{ /js/vendor/jquery-migrate-3.3.0.min.js }"></script>
<script th:src="@{ /js/vendor/modernizr-3.11.2.min.js }"></script>
<script th:src="@{ /js/vendor/jquery.waypoints.js }"></script>

<!--Plugins JS-->
<script th:src="@{ /js/plugins/wow.min.js }"></script>
<script th:src="@{ /js/plugins/jquery-ui.min.js }"></script>
<script th:src="@{ /js/plugins/swiper-bundle.min.js }"></script>
<script th:src="@{ /js/plugins/jquery.nice-select.js }"></script>
<script th:src="@{ /js/plugins/parallax.min.js }"></script>
<script th:src="@{ /js/plugins/jquery.magnific-popup.min.js }"></script>

<!--Main JS (Common Activation Codes)-->
<script th:src="@{ /js/main.js }"></script>

</body>

</html>