<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>떡잎펀드</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/common/favicon.ico"/>
</head>
<body style="overflow: hidden">
    <div th:replace="/common/userheader.html"></div>
    <div class="top-area">
        <h1>아이디·비밀번호 찾기</h1>
        <input type="button" id="find-id-id" value="아이디 찾기">
        <input type="button" id="find-id-pwd" value="비밀번호 찾기">
    </div>
    <div class="bottom-area">
        <div class="success-div">
            <p style="font-size: 40px; font-weight: bold;">입력하신 e-mail로<br>
                아이디를 발송했습니다.</p>
            <h4>e-mail에서 확인해주세요.</h4>
            <button class="bigbigbig-btn" id="goMain">확인</button>
        </div>
    </div>
</body>
<script>
    document.getElementById("find-id-id").onclick = function () {
        location.href = "/member/find";
    }

    document.getElementById("find-id-pwd").onclick = function () {
        location.href = "/member/find/pwd";
    }

    document.getElementById("goMain").onclick = function () {
        location.href = "/member/login";
    }
</script>
</html>