.following-project-div {
    position: absolute;
    top: 450px;
    left: 580px;
    width: 950px;
}

.savecancel {
    background-color: #BAC34E !important;
    color: #ffffff !important;
    border: 1px solid #BAC34E !important;
    width: 100px !important;
    height: 40px;
    border-radius: 5px;
}

.swal2-title {
    font-family: inherit !important;
    font-weight: normal;
    padding-top: 80px !important;
    font-size: 15pt !important;
}
