@charset "UTF-8";

.title-div {
    margin-top: 35px;
    margin-left: 620px;
}
.profile-div {
    position: relative;
    top: 50px;
    left: 670px;
    width: 480px;
}
#titleImg {
    position: relative;
    left: 29%;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#changeImg {
    margin-left: 120px;
    text-decoration: underline;
    cursor: pointer;
    float: left;
    margin-right: 52px;
    margin-bottom: 30px;
    font-weight: bold;
}
#deleteImg {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
.email-div {
    position: relative;
    top: 60px;
    left: 670px;
    width: 480px;
    height: 600px;
 }
#changeEmail-e {
    margin-left: 40px;
    border: 3px solid white;
    border-bottom-color: #BAC34E;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#changePhone-e {
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#changePwd-e {
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
.email-div form input {
    width: 450px;
    height: 60px;
    margin-left: 15px;
    border: 1px solid #999A99;
    font-size: 20px;
}
label {
    margin-left: 15px;
}
#send-email {
    width: 90px;
    height: 43px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #BAC34E;
    position: relative;
    top: -52px;
    left: 354px;
}
#check-email-verification, #check-phone-verification {
    width: 90px;
    height: 43px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #BAC34E;
    position: relative;
    top: -52px;
    left: 354px;
}
#changeEmail-p {
    margin-left: 40px;
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#changePhone-p {
    border: 3px solid white;
    border-bottom-color: #BAC34E;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#changePwd-p {
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#send-phone {
    width: 90px;
    height: 43px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #BAC34E;
    position: relative;
    top: -52px;
    left: 354px;
}
#changeEmail-pw {
    margin-left: 40px;
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#changePhone-pw {
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
}
#changePwd-pw {
    border: 3px solid white;
    width: 120px;
    text-align: center;
    float: left;
    font-family: inherit;
    cursor: pointer;
    height: 40px;
    border-bottom-color: #BAC34E;
}
.swal2-title {
    font-family: inherit !important;
    font-weight: normal;
    padding-top: 30px !important;
    font-size: 15pt !important;
}
.savecancel {
    background-color: #BAC34E !important;
    color: #ffffff !important;
    border: 1px solid #BAC34E !important;
    width: 100px !important;
    height: 40px;
    margin-right: 3px;
    border-radius: 5px;
}
#save {
    width: 220px;
    height: 50px;
    background: #BAC34E;
    color: white;
    float: left;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
#cancel {
    width: 220px;
    height: 50px;
    background: white;
    color: #BAC34E;
    border-radius: 5px;
    border: 1px solid #BAC34E;
    float: left;
    margin-top: 20px;
}
#removeMember {
    border: 1px solid #C2423A!important;
    position: relative;
    top: 600px;
    left: -100px;
    height: 50px!important;
    width: 208px!important;
    color: #C2423A!important;
    background: #FFF;
    cursor: pointer;
}
.withdrawMember {
    background-color: #BAC34E !important;
    color: #ffffff !important;
    border: 1px solid #BAC34E !important;
    width: 100px !important;
    height: 40px;
    margin-right: 3px;
    border-radius: 5px;
}
