.tab-body-area {
    /*border: 1px solid red;*/
    position: absolute;
    z-index: 1;
    left: 33%;
    right: 25%;
    top: 47%;
    width: 48%;
    height: 1220px;
}

.regist-body-area {
    /*border: 1px solid red;*/
    position: absolute;
    z-index: 1;
    left: 33%;
    right: 25%;
    top: 47%;
    width: 48%;
    height: 1220px;
}

tr.title, td.title {
    border-bottom: none !important;
}

.main-content div.notice-wrap {
    height: 1400px;
}

/* 공지사항 작성 하기 */
.regist-form {
    height: 500px;
    padding: 40px 80px 0;
    border-radius: 10px;
    border: 1px solid #ababab;
}

#projectNoticeContent {
    height: 300px;
    width: 95%;
    padding: 40px 80px 0;
    border-radius: 10px;
    border: 1px solid #ababab;
}

.regist-wrap {
    width: 100%;
    text-align: right;
    /*border: 1px solid red;*/
}

.regist-form label {
    float: left;
}

.regist-form input, textarea#content {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ababab;
}
.cont-div {
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
}

.content {
    height: 300px;
}

.back {
    float: right;
}

.registProjectNotice {
    float: right;
}