.bl{
    border:1px solid red;
}
.qe{
}
.mb-4{
    margin-bottom: 4%;
}
.fundingrewardstep-front{
    margin-top: 3%;
}
.fundingrewardstep-front > label{
    color: #ababab;
    margin-left: 40%;
}
.fundingrewardstep{
    text-align: center;
    object-fit: cover;
    margin: 30px;
    margin-bottom: 15%;
}
.title{
    font-size: 1.6em;
    font-weight: 1000;
}
.sub-title{
    margin-left:2%;
    color: #ababab;
}

.funding-box{
    border: 1px solid #ababab;

}
.funding-box > div {
    margin: 2%;
}

.funding-box-title {
    font-size: 1.2em;
    font-weight: 800;
}
.cart-plus-minus .cart-plus-minus-box {
    border:1px solid #f6f6f6;
    background-color:#f6f6f6;
    text-align:center;
    width:75px;
    height:50px
}
.shipping-fee-select{
    width:210px;
    height: 31px;
}
button.bigbig-btn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    font-size: 24px;
}
.regist-reward-info label{
    font-weight: 650;
    font-size: 1em;
}
.regist-reward-info > .label-tag {
    width: 100%;
    margin:2%;
}


.total-price{
    font-size: 1.2em;
    font-weight: 900;
}

.funding-regist-sup-info{
    margin-top: 15px;
    height: 380px;
    background-color: #E5DDCC;
    border: 1px solid #ababab;
}
.complete-funding-info {
    margin-top: 15px;
    background-color: #E5DDCC;
}
.complete-funding-info-text {
    margin-left: 3%;
    margin-top: 10px;
    height: 55px;
    color: #444444;
}
.funding-result-btn{
    margin: 2%;
}

.funding-regist-sup-info-name{
    margin-left: 6%;
    margin-top: 7%;
}

.funding-regist-sup-info-name label {
    font-weight: 700;
    font-size: 1.3em;
}

.funding-regist-sup-info-name span {
    font-size: 1.1em;
    font-weight: 500;
}

.funding-regist-sup-info-check{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}


.funding-regist-shipping-area{

}
.funding-regist-shipping-area-info{
    margin: 3%;

}
.funding-regist-shipping-area-info > label{
    font-size: 1.1em;
    font-weight: 700;
}
.funding-regist-shipping-area-info > span{
    font-size: 0.8em;
    color: #ababab;
    margin-left: 3%;

}
.funding-regist-shipping-area-info > input:not(.basic-btn){
    border: 1px #ABABAB solid;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 470px;
    height: 35px;
}
.shipping-fee-select-account{
    width: 265px;
    margin-left: 22px;
}

.funding-regist-policy-check{
    border: 1px #ababab solid;
    width: 100%;
    height: 50px;
    margin-bottom: 3px;
}
.funding-regist-policy-check-area{
    margin:1%;
}

.tab-body-area{
    position: absolute;
    z-index: 1;
    left: 33%;
    right: 25%;
    top: 45%;
    width: 50%;
    height: 1220px;
}
.funding-list-box{
    width:95%;
    height: 205px;
    margin-left: 2.5%;
    border: 1px solid #ababab;
    margin-top: 2%;
}
.review-btn{
    margin-left: 85%;
}
.category{
    font-weight: 900;
    font-size: 1em;
    color: #6C6C6CFF;
}
.projectStatus{
    font-weight: 900;
    font-size: 0.8em;
    color: #6C6C6CFF;
}
.projectName{
    font-weight: 900;
    font-size: 1.3em;
}
.farmerName{
    font-weight: 900;
    font-size: 0.8em;
    color: #6C6C6CFF;
}
.fundingStatus{
    font-weight: 900;
    font-size: 0.8em;
    color: #3a4639;
}
.funding-detail-info-border{
    margin-top: 4%;
    border: 1px solid #ababab;
}
.funding-detail-info-box{
    margin: 2%;
    width: 96%;
    height: 350px;
}
.totallybig-btn{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 24px;
}
.funding-order{
    font-size:1em;
    color: #232323;
    font-weight: 1000;
}
.funding-detail-info{
    font-size: 0.8em;
    color: #ababab;
    font-weight: 800;
}
.funding-detail-reward-info-box{
    width: 96%;
    height: 350px;
    margin:2%
}
.funding-detail-reward-name{
    font-size: 1.4em;
    font-weight: 1000;
}
.funding-detail-reward-info{
    font-size: 1em;
    color: #444444;
    font-weight: 700;
}
.funding-detail-shipping-info-box{
    width: 96%;
    height: 240px;
    margin:2%
}