<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Harmic - Contact</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" />

  <!-- CSS
  ============================================ -->

  <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
  <link rel="stylesheet" href="../../static/css/vendor/font-awesome.min.css" />
  <link rel="stylesheet" href="../../static/css/vendor/Pe-icon-7-stroke.css" />

  <!-- Plugin CSS (Global Plugins Files) -->
  <link rel="stylesheet" href="../../static/css/plugins/animate.min.css">
  <link rel="stylesheet" href="../../static/css/plugins/jquery-ui.min.css">
  <link rel="stylesheet" href="../../static/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="../../static/css/plugins/nice-select.css">
  <link rel="stylesheet" href="../../static/css/plugins/magnific-popup.min.css" />

  <!-- Style CSS -->
  <link rel="stylesheet" th:href="@{ css/style.css }">

</head>

<body>

<div class="main-wrapper">

  <!-- Begin Footer Area -->
  <div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" style="background-color: #e5ddcc">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-1">
            <div class="widget-item">
              <div class="footer-logo pb-1">
                <a href="index.html">
                  <img th:src="@{/images/common/dduckleaf-logo.png}" alt="Logo">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
            <div class="widget-item">
              <h3 class="widget-title mb-5">CUSTOMER SERVICE</h3>
              <ul class="widget-list-item">
                <li>
                  <a>떡잎펀드 고객센터</a><br>
                  <a>1234-5678</a><br>
                  <a>상담 가능 시간 : 평일 오전 9시 ~ 오후 6시(주말, 공휴일 제외)</a><br>
                </li>
                <li>
                  <a>이메일(24시간 접수 가능)</a><br>
                  <p>dduckleaf@dduckleaf.kr</p>
                </li>
                <li>
                  <a>일부 상품의 경우 떡잎펀드는 통신판매중개자이며
                    통신판매 당사자가 아닙니다.</a><br>
                </li>
                <li>
                  <a>해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은
                    판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다.</a><br>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
            <div class="widget-item">
              <h3 class="widget-title mb-5">INFORMATION</h3>
              <ul class="widget-list-item">
                <li>
                  <a>정책/약관</a>
                </li>
                <li>
                  <a>개인정보처리방침</a>
                </li>
                <li>
                  <a>서비스 운영정책</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
            <div class="widget-item">
              <h3 class="widget-title mb-5">떡잎펀드(주)</h3>
              <ul class="widget-list-item">
                <li>
                  <a>대표이사 김떡잎</a>
                </li>
                <li>
                  <a>사업자등록번호</a><br>
                  <a>123-45-67890</a>
                </li>
                <li>
                  <a>경기 떡잎시 떡잎구 떡잎로</a>
                  <p>123-456로 dduckleaf빌딩</p>
                </li>
                <li>
                  <p>@dduckleaf Co.Ltd.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright">
              <span class="copyright-text text-white">© 2021 Harmic Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">HasThemes</a> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Area End Here -->

  <!-- Begin Scroll To Top -->
  <a class="scroll-to-top" href="">
    <i class="fa fa-chevron-up"></i>
  </a>
  <!-- Scroll To Top End Here -->

</div>

<!-- Global Vendor, plugins JS -->

<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->

<script src="../../static/js/vendor/bootstrap.bundle.min.js"></script>
<script src="../../static/js/vendor/jquery-3.5.1.min.js"></script>
<script src="../../static/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="../../static/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../static/js/vendor/jquery.waypoints.js"></script>

<!--Plugins JS-->
<script src="../../static/js/plugins/wow.min.js"></script>
<script src="../../static/js/plugins/jquery-ui.min.js"></script>
<script src="../../static/js/plugins/swiper-bundle.min.js"></script>
<script src="../../static/js/plugins/jquery.nice-select.js"></script>
<script src="../../static/js/plugins/parallax.min.js"></script>
<script src="../../static/js/plugins/jquery.magnific-popup.min.js"></script>

<!--Main JS (Common Activation Codes)-->
<script src="../../static/js/main.js"></script>

</body>

</html>