<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>모의펀딩 신청</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{ /css/mockfund.css }">
    <link rel="stylesheet" th:href="@{ /css/style.css }">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div th:replace="/common/userheader.html"></div>
<div class="container">
    <div style="width: 1000px;">
        <div class="row1 story">
        <form name="saveForm">
            <div class="col-md-2 fundmenu">
                <button class="accordion" type="button">
                    <p class="fundmenutitle">모의펀딩 준비<img class="arrow" th:src="@{ /images/mockfund/sidebararrow.png }"></p>
                </button>
                <div class="panel">
                    <p onclick="location.href='../basicinfo'">기본정보</p>
                    <p onclick="location.href='../story'">스토리 작성</p>
                    <p onclick="location.href='../reward'">리워드 설계</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="breadcrumb">
                    <span class="breadcrumb home" onclick="location.href='../../mockfund/mockfundmain'">모의펀딩 준비</span>&nbsp;
                    <span class="breadcrumb">></span>&nbsp;
                    <span class="breadcrumb">스토리 작성</span>
                </div>
                <a style="font-size: 30pt; font-weight: bold;"><img class="leaf" th:src="@{ /images/common/Leaf.png}">스토리 작성</a><br><hr>
                <a>파머님의 프로젝트를 소개해주세요.</a>
                <div class="basicmenu">
                    <a class="basictitle">소개 사진 등록</a><br>
                    <a class="basicsubtitle">프로젝트 페이지 상단에 노출될 사진을 올려주세요.</a><br>
                    <img class="basicimg" th:src="@{/images/mockfund/basicimg.png}"><br>
                    <a class="basicsubtitle">2MB 이하의 JPEG, PNG 파일<br>
                        해상도 630x400 픽셀 이상<br>여러 장 등록 가능</a>
                    <input name="mockFundInfoNo" type="hidden" th:value="${ info.mockFundInfoNo }">
                </div>
                <div class="basicmenu">
                    <a class="basictitle">프로젝트 요약</a><br>
                    <a class="basicsubtitle">프로젝트 페이지 상단에 노출됩니다.</a><br>
                    <input class="projectsummary" name="mockFundDetail" type="text" th:value="${ info.mockFundDetail }">
                    <input type="hidden" class="mockFundAgreementStatus" id="mockFundAgreementStatus" name="mockFundAgreementStatus" th:value="${ info.mockFundAgreementStatus }">
                </div>
                <div class="checkdiv">
                    <a class="basictitle">스토리 광고 심의 동의</a><br>
                    <a class="basicsubtitle">스토리 작성 전, 플랫폼에서 제공하는 광고 심의 가이드라인을 반드시 확인하세요.
                    <br>동의를 진행해야 스토리 작성이 가능합니다.</a><br>
                    <th:block th:if="${ info.mockFundAgreementStatus == 'N'}">
                    <button type="button" class="btn1 big-btn story-btn" id="agreement"><img class="check" th:src="@{ /images/common/check.png }"> 동의하기</button>
                    </th:block>
                    <th:block th:if="${ info.mockFundAgreementStatus == 'Y'}">
                        <div class="agreementcheck">동의완료</div>
                        <div class="agreementDate" th:text="${ info.agreementDate }"></div>
                    </th:block>
                        <a class="guideline">식품 표시·광고 가이드라인</a>
                </div>
                <div class="basicmenu">
                    <a class="basictitle">프로젝트 스토리</a><br>
                    <a class="basicsubtitle">프로젝트 스토리로 사용할 사진을 등록해주세요.</a><br>
                    <img class="basicimg" th:src="@{/images/mockfund/basicimg.png}"><br>
                    <a class="basicsubtitle">2MB 이하의 JPEG, PNG 파일<br>
                        해상도 630x400 픽셀 이상<br>여러 장 등록 가능</a>
                </div>
                <div>
                    <button type="button" class="btn1 big-btn" id="saveclick">저장하기</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<footer class="footer" th:replace="/common/footer.html"></footer>
<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->

<!-- Vendor JS -->
<script th:src="@{ /js/vendor/bootstrap.bundle.min.js }"></script>
<script th:src="@{ /js/vendor/jquery-3.5.1.min.js }"></script>
<script th:src="@{ /js/vendor/jquery-migrate-3.3.0.min.js }"></script>
<script th:src="@{ /js/vendor/modernizr-3.11.2.min.js }"></script>
<script th:src="@{ /js/vendor/jquery.waypoints.js }"></script>

<!--Plugins JS-->
<script th:src="@{ /js/plugins/wow.min.js }"></script>
<script th:src="@{ /js/plugins/jquery-ui.min.js }"></script>
<script th:src="@{ /js/plugins/swiper-bundle.min.js }"></script>
<script th:src="@{ /js/plugins/jquery.nice-select.js }"></script>
<script th:src="@{ /js/plugins/parallax.min.js }"></script>
<script th:src="@{ /js/plugins/jquery.magnific-popup.min.js }"></script>

<!--Main JS (Common Activation Codes)-->
<script th:src="@{ /js/main.js }"></script>

</body>
<script>
    var acc = document.getElementsByClassName("accordion");

    for (var i = 0; i < acc.length; i++) {

        acc[i].onclick = function() {
            // 클릭이 일어났을 때 기존에 열려 있던 아코디언을 접는다. (1개의 아코디언만 열리게)
            for (var j = 0 ; j<acc.length; j++){
                // 버튼 상태에 입혀진 active 라는 클래스를 지운다.
                acc[j].classList.remove("active");
                // 버튼 다음에 있는 div 콘텐츠 높이를 0으로 만든다. == 아코디언을 접는다.
                if (this!==acc[j]) {
                    acc[j].nextElementSibling.style.maxHeight = null;
                }
            }

            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                this.classList.remove("active");
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }

        }
    }

    $("#agreement").click(async function (agreement) {
        const {value: formValues} = await Swal.fire({
            title: '<img class="leaf" src="/images/common/Leaf.png" style="vertical-align: -20%; margin-right: 10px;">광고 심의 동의를 진행하고 스토리 작성을 시작하세요.',
            html:
                '<p>떡잎펀드는 파머님들을 위해 스토리 광고 심의에 대한 가이드를 <br> 제공하고 있습니다. 꼼꼼하게 확인하고 숙지해주세요.</p>' +
                '<div class="checkedarea">' +
                '<div class="checkT">' +
                '<p><input type="checkbox" id="order2_chk"><label for="order2_chk"></label></p>' +
                '</div>' +
                '<p class="confirmsub">떡잎펀드 심의 가이드라인을 숙지해주세요</p>' +
                '</div>' +
                '<div class="checkedarea2">' +
                '<p class="confirmsub2">개설자(이하 “파머”)는 떡잎펀드(주)(이하 떡잎펀드)가 게시 및 안내하는 심의 가이드라인을 확인하고 이를 숙지하여야 합니다.' +
                '이를 확인하지 않거나 오인하여 발생한 손해에 대한 책임은 파머가 부담하여야 합니다.</p>' +
                '</div>' +
                '<div class="btnArea">' +
                '<button class="confirmbtn" id="confirmbtn" disabled="disabled">스토리 작성 시작하기</button>' +
                '</div>',
            focusConfirm: false,
            showConfirmButton: false,
            customClass: {
                title: 'confirmtitle',
                popup: 'confirmpopup',
                htmlContainer: 'confirmcontainer',
            },
            buttonsStyling: false,
        }).then($("#order2_chk").click(await function() {
            var order2Chk = $("#order2_chk").prop("checked");

            if (order2Chk) {
                $(".order2_chks").prop("checked", true);
                $(".btnArea button").css({
                    "backgroundColor": "#BAC34E",
                    "cursor": "pointer",
                    "color": "#fff"
                }).prop("disabled", false)
            } else {
                $(".order2_chks").prop("checked", false);
                $(".btnArea button").css({
                    "backgroundColor": "#cbcbcb",
                    "cursor": "auto",
                    "color": "#303033"
                }).prop("disabled", true);
            }
        })).then($("#confirmbtn").click(await function() {
            let saveForm = document.saveForm;
            let url = '/mockfund/agreement';

            saveForm.action = url;
            saveForm.method = 'post';
            saveForm.submit();
            scroll()
        }));
    });

    $("#saveclick").click(function() {
        Swal.fire({
            title: '저장하시겠습니까?',
            showCancelButton: true,
            confirmButtonText: '확인',
            cancelButtonText: '취소',
            allowEnterKey: false,
            confirmButtonWidth: '100px',
            customClass: {
                confirmButton: 'savesuccess',
                cancelButton: 'savecancel',
                popup: 'savepopup'
            },
            buttonsStyling: false,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: '저장되었습니다',
                    confirmButtonText: "확인",
                    allowEnterKey: false,
                    customClass: {
                        confirmButton: 'saveok',
                        popup: 'savepopup'
                    },
                    buttonsStyling: false,
                }).then(function(mockFundDetail) {
                    let saveForm = document.saveForm;
                    let url = '/mockfund/modify/story';
                    saveForm.mockFundDetail = mockFundDetail;

                    saveForm.action = url;
                    saveForm.method = 'post';
                    saveForm.submit();
                });
            }
        })
    });

    document.getElementById('endDate').value = new Date().toISOString().substring(0, 10);
</script>
</html>