<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Harmic - Single Product</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

    <!-- CSS
    ============================================ -->

    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/vendor/Pe-icon-7-stroke.css}" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" th:href="@{/css/plugins/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnific-popup.min.css}"/>

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css }">
    <link rel="stylesheet" th:href="@{/css/project.css }">
</head>

<body>
<div class="main-wrapper">
    <div th:include="@{ /common/userheader.html }"></div>
    <!-- Begin Main Content Area  -->
    <main class="main-content">
        <div class="single-product-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-product-img h-100">
                            <div class="swiper-container single-product-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="assets/images/product/large-size/2-1-555x645.jpg" class="single-img gallery-popup">
                                            <img class="img-full" src="/images/project/potato.png" alt="Product Image">
                                        </a>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-thumb-with-content row">
                            <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                                <div class="single-product-content">
                                    <div class="title">감자감자</div><progress value="70" max="100"></progress>
                                    <div class="infoBox2 rounded-1">
                                        <div>
                                            <span class="short-desc">펀딩 실패</span>
                                        </div>
                                        <div class="farmerCorp">
                                            <a>70</a><span class="info">% 달성</span>
                                        </div>
                                        <div class="farmerCorp">
                                            <a>1,550,000</a><span class="info">원 펀딩</span>
                                        </div>
                                        <div class="farmerCorp">
                                            <a>50</a><span class="info">명의 서포터</span>
                                        </div>
                                    </div><br>
                                    <div class="button-box">
                                        <button class="basic-btn btn1 alittle-bigbig-btn">2021.05.17 종료</button>
                                        <button class="basic-btn btn3 alittle-big-btn">15<img src="/images/common/heart.png" alt="Product Image"></button>
                                    </div><br>
                                    <ul class="quantity-with-btn pb-7">
                                        <li class="add-to-cart">
                                            <button class="basic-btn btn3 btn-fill-white rounded-1">프로젝트에 문제를 발견하셨나요? 신고하기
                                                <img src="images/common/rightarrow.png" alt="Product Image" class="right-arrow"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-tab-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="active btn btn-custom-size" id="story-tab" data-bs-toggle="tab" href="#story" role="tab" aria-controls="story" aria-selected="true">
                                    스토리
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-custom-size" id="farmerInfo-tab" data-bs-toggle="tab" href="#farmerInfo" role="tab" aria-controls="farmerInfo" aria-selected="false">
                                    파머 정보
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-custom-size" id="qna-tab" data-bs-toggle="tab" href="#qna" role="tab" aria-controls="qna" aria-selected="false">
                                    관련 문의
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-custom-size" id="farmnote-tab" data-bs-toggle="tab" href="#farmnote" role="tab" aria-controls="farmnote" aria-selected="false">
                                    농사 일지
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-custom-size" id="refundpolicy-tab" data-bs-toggle="tab" href="#refundpolicy" role="tab" aria-controls="refundpolicy" aria-selected="false">
                                    반환 정책
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-custom-size" id="notice-tab" data-bs-toggle="tab" href="#notice" role="tab" aria-controls="notice" aria-selected="false">
                                    공지사항
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content product-tab-content">
                            <!-- Begin 스토리 -->
                            <div class="tab-pane fade show active" id="story" role="tabpanel" aria-labelledby="story-tab">
                                <br>
                                <div class="notice">
                                    <p class="noticeP"><img src="/images/common/alert.png">
                                        도서산간에 해당하는 서포터님은 배송 가능 여부를 반드시 파머에게 문의 후 펀딩에 참여해주세요.</p>
                                </div>
                                <div class="product-description-body">
                                    <img class="img-full" src="/images/project/story.png" alt="Product Image">
                                </div>
                            </div>
                            <!-- 스토리 End Here -->

                            <!-- Begin 파머정보 -->
                            <div class="tab-pane fade" id="farmerInfo" role="tabpanel" aria-labelledby="farmerInfo-tab">
                                <div class="product-review-body">
                                    <ul class="user-info-wrap">
                                        <ul class="user-info">
                                            <img class="img-full" src="/images/project/farmer.png" alt="Product Image">
                                            <div class="col-lg-1 order-2 pt-10 pt-lg-0"></div>
                                            <div class="col-lg-2 order-2 pt-10 pt-lg-0">
                                                <p>상호 명</p>
                                                <p>리워드 명</p>
                                                <p>파머 명</p>
                                                <p>파머 전화번호</p>
                                                <p>파머 이메일</p>
                                            </div>
                                            <div class="col-lg-3 order-2 pt-10 pt-lg-0">
                                                <p>감자나라</p>
                                                <p>감자</p>
                                                <p>장감자</p>
                                                <p>010-1234-5678</p>
                                                <p>potatokun@naver.com</p>
                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <!-- 파머정보 End Here -->

                            <!-- Begin 관련 문의 -->
                            <div class="tab-pane fade" id="qna" role="tabpanel" aria-labelledby="qna-tab">
                                <div class="product-shipping-body">
                                    <h4 class="title">관련문의</h4>
                                    <!-- Begin 게시판영역 -->
                                    <table class="basic-table" id="project-qna-table" align="center">
                                        <tr>
                                            <th>답변상태</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>작성일</th>
                                        </tr>
                                        <tr>
                                            <td>미답변</td>
                                            <td>솔향기가 솔솔나나여?</td>
                                            <td>mmmj*****</td>
                                            <td>2022-02-20<br>07:15</td>
                                        </tr>
                                        <tr>
                                            <td>답변완료</td>
                                            <td>비밀글입니다. <img src="/images/board/lock-icon.png" style="width: 20px; height: 20px;"></td>
                                            <td>mmmj*****</td>
                                            <td>2022-02-20<br>07:15</td>
                                        </tr>
                                    </table>

                                    <!-- paging -->
                                    <div class="paging-area" align="center">
                                        <button class="paging-btn first"><<</button>
                                        <button class="paging-btn prev"><</button>
                                        <button class="paging-btn">1</button>
                                        <button class="paging-btn next">></button>
                                        <button class="paging-btn last">>></button>
                                    </div>

                                    <button class="basic-btn medium-btn btn1">문의작성</button>
                                    <!-- 게시판영역 End Here -->
                                </div>
                            </div>
                            <!-- 관련 문의 End Here -->

                            <!-- Begin 농사 일지 -->
                            <div class="tab-pane fade" id="farmnote" role="tabpanel" aria-labelledby="farmnote-tab">
                                <div class="product-shipping-body">
                                    <h4 class="title">농사일지</h4>
                                    <!-- Begin 게시판영역 -->
                                    <table class="basic-table" id="project-qna-table" align="center">
                                        <tr>
                                            <th>답변상태</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>작성일</th>
                                        </tr>
                                        <tr>
                                            <td>미답변</td>
                                            <td>솔향기가 솔솔나나여?</td>
                                            <td>mmmj*****</td>
                                            <td>2022-02-20<br>07:15</td>
                                        </tr>
                                        <tr>
                                            <td>답변완료</td>
                                            <td>비밀글입니다. <img src="/images/board/lock-icon.png" style="width: 20px; height: 20px;"></td>
                                            <td>mmmj*****</td>
                                            <td>2022-02-20<br>07:15</td>
                                        </tr>
                                    </table>

                                    <!-- paging -->
                                    <div class="paging-area" align="center">
                                        <button class="paging-btn first"><<</button>
                                        <button class="paging-btn prev"><</button>
                                        <button class="paging-btn">1</button>
                                        <button class="paging-btn next">></button>
                                        <button class="paging-btn last">>></button>
                                    </div>

                                    <button class="basic-btn medium-btn btn1">문의작성</button>
                                    <!-- 게시판영역 End Here -->
                                </div>
                            </div>
                            <!-- 농사 일지 End Here -->

                            <!-- Begin 반환 정책 -->
                            <div class="tab-pane fade" id="refundpolicy" role="tabpanel" aria-labelledby="refundpolicy-tab">
                                <br>
                                <div class="notice">
                                    <p class="noticeP"><img src="/images/common/alert.png">
                                        도서산간에 해당하는 서포터님은 배송 가능 여부를 반드시 파머에게 문의 후 펀딩에 참여해주세요.</p>
                                </div><br>
                                <div>
                                    <h5>이 프로젝트의 정보 및 정책을 반드시 확인하세요.</h5>
                                    <p class="short-desc mb-0">펀딩 취소 안내</p>
                                    <p class="short-desc mb-0">펀딩 결제는 예약 상태로 유지되다가, 펀딩 마감일 다음 영업일 17시에 모두 함께 진행됩니다.</p>
                                    <p class="short-desc mb-0">결제 정보 변경은 결제가 진행되기 전까지 언제나 가능합니다</p>
                                </div>
                            </div>
                            <!-- 반환정책 End Here -->

                            <!-- Begin 공지사항 -->
                            <div class="tab-pane fade" id="notice" role="tabpanel" aria-labelledby="notice-tab">
                                <div class="product-shipping-body">
                                    <!--                  <div th:include="@{ /project/notice/noticedetail.html }"></div>-->

                                    <div class="notice-wrap" th:if="${ projectNoticeDetail }">
                                        <div class="cont-div">
                                            <table>
                                                <tr class="title" th:each="notice : ${ projectNoticeDetail }">
                                                    <input class="projectNo" id="projectNo" type="hidden" th:value="${ notice.projectNo }">
                                                    <td class="title" colspan="2" th:text="${ notice.projectNoticeTitle }">제목</td>
                                                </tr>
                                                <tr th:each="notice : ${ projectNoticeDetail }">
                                                    <td class="date" th:text="${ notice.registDate }">작성일</td>
                                                </tr>
                                                <tr th:each="notice : ${ projectNoticeDetail }">
                                                    <td class="content" colspan="2" th:text="${ notice.projectNoticeContent }">내용</td>
                                                </tr>
                                            </table>
                                            <button class="basic-btn small-btn btn3 back" id="back">목록보기</button>
                                        </div>
                                    </div>

                                    <div class="product-slider-area section-space-top-55 section-space-bottom-100">
                                        <div class="container">
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
    </main>
    <div th:include="@{ /common/footer.html }"></div>
</div>
</div>

<!-- Global Vendor, plugins JS -->

<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->
<script>

    $("#back").click(function() {
        const projectNo = $("#projectNo").val();
        console.log(projectNo);
        location.href='/project/notice/list/' + projectNo;
    });

    // $("#notice").click(function() {
    console.log("도착?");
    const projectNo = 2;

    function projectNoticeData(projectNoticeNo, projectNoticeTitle, projectNoticeCount, registDate) {

        return {projectNoticeNo, projectNoticeTitle, projectNoticeCount, registDate};
    }

    function findProjectNoticeList() {
        fetch('/project/notice/list/{projectNo}').then(resonse => {
            if (resonse.ok) {
                return resonse.json();
            }
        }).then(json => {
            let html = '';

            if (!json.length) {
                // alert("암것도 없음");
                // console.log("암것도 없음");
                html = '<td colspan="5">등록된 게시글이 없습니다.</td>';
            } else {
                json.forEach((projectNoticeData, idx) => {
                    // console.log("게시글있음");
                });


            }


        });

    }

    // });
</script>
<script th:src="@{ /js/vendor/bootstrap.bundle.min.js }"></script>
<script th:src="@{ /js/vendor/jquery-3.5.1.min.js }"></script>
<script th:src="@{ /js/vendor/jquery-migrate-3.3.0.min.js }"></script>
<script th:src="@{ /js/vendor/modernizr-3.11.2.min.js }"></script>
<script th:src="@{ /js/vendor/jquery.waypoints.js }"></script>

<!--Plugins JS-->
<script th:src="@{ /js/plugins/wow.min.js }"></script>
<script th:src="@{ /js/plugins/jquery-ui.min.js }"></script>
<script th:src="@{ /js/plugins/swiper-bundle.min.js }"></script>
<script th:src="@{ /js/plugins/jquery.nice-select.js }"></script>
<script th:src="@{ /js/plugins/parallax.min.js }"></script>
<script th:src="@{ /js/plugins/jquery.magnific-popup.min.js }"></script>

<!--Main JS (Common Activation Codes)-->
<script th:src="@{ /js/main.js }"></script>

</body>

</html>