<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Harmic - Blog Detail Left Sidebar</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" />

    <!-- CSS
    ============================================ -->



    <!-- Style CSS -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/fee.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fee.css}">
</head>

<body>

<div class="main-wrapper">

    <!-- Begin Main Header Area -->
    <!-- Main Header Area End Here -->

    <!-- Begin Main Content Area -->
    <main class="main-content">

        <div class="blog-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                        <!-- <div class="sidebar-area"> -->
                        <p style="font-size: 20pt; font-weight: bold; margin-bottom: 25pt;">수수료 변경 내역</p>
                        <hr>
                        <table>
                            <ul>
                                <button class="button-margin">2021.12.14</button><button class="small-btn btn1 basic-btn" disabled>활성화</button>
                                <button class="button-margin">2021.12.14</button><button class="small-btn btn5 basic-btn" disabled>비활성화</button></li>
                                <button class="button-margin">2021.12.14</button><button class="small-btn btn5 basic-btn" disabled>비활성화</button></li>
                                <button class="button-margin">2021.12.14</button><button class="small-btn btn5 basic-btn" disabled>비활성화</button></li>
                                <button class="button-margin">2021.12.14</button><button class="small-btn btn5 basic-btn" disabled>비활성화</button></li>
                                <button class="button-margin">2021.12.14</button><button class="small-btn btn5 basic-btn" disabled>비활성화</button></li>
                            </ul>
                        </table>
                        <button class="big-btn btn1 basic-btn">수수료 정책 추가</button>
                        <!-- </div> -->
                    </div>

                    <!-- 오른쪽 절반 화면-->

                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="blog-detail-item">
                            <div class="title-div">
                                <span class="text-title"><img src="../../static/images/common/Leaf.png" style="vertical-align: -10%; margin-right: 7px; width: 33px; height: 38px">수수료율 조회</span>
                                <hr width="840px">
                            </div>
                            <div class="content-context">
                                <table style="margin-top: 50px;">
                                    <tr>
                                        <td ><span class="front-fee">기본수수료</span><br><span class="back-fee1">10%</span></td>
                                        <td ><span class="front-fee">할인수수료</span><br><span class="back-fee2">7%</span></td>
                                        <td class="inmargin"><span class="front-fee2">적용일</span><br><span class="back-fee3">2022.04.16</span></td>
                                        <td class="inmargin"><span class="front-fee2">만료일</span><br><span class="back-fee3">2022.11.26</span></td>
                                        <td class="inmargin"><span class="front-fee2">등록일</span><br><span class="back-fee3">2022.04.16</span></td>
                                    </tr>
                                </table>
                            </div>
                            <button class="bigbig-btn btn2 basic-btn" >비활성화</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content Area End Here -->

    <!-- Begin Footer Area -->
    <div class="footer-area">
        <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-item">
                            <div class="footer-logo pb-4">
                                <a href="index.html">
                                    <img src="assets/images/logo/dark.png" alt="Logo">
                                </a>
                            </div>
                            <p class="short-desc mb-2">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididun ut labore gthydolore. </p>
                            <div class="widget-contact-info pb-6">
                                <ul>
                                    <li>
                                        <i class="pe-7s-map-marker"></i>
                                        184 Main Rd E, St Albans VIC 3021,
                                    </li>
                                    <li>
                                        <i class="pe-7s-mail"></i>
                                        <a href="mailto://info@example.com">info@example.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="payment-method">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/payment/1.png" alt="Payment Method">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                        <div class="widget-item">
                            <h3 class="widget-title mb-5">Information</h3>
                            <ul class="widget-list-item">
                                <li>
                                    <a href="javascript:void(0)">FAQ</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Shipping</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Returns</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Order Status</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Gift Card Balance</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Accessibility</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                        <div class="widget-item">
                            <h3 class="widget-title mb-5">My Account</h3>
                            <ul class="widget-list-item">
                                <li>
                                    <a href="javascript:void(0)">My Account</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Checkout</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Validation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Wishlist</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Terms of Use</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                        <div class="widget-item">
                            <h3 class="widget-title mb-5">Newsletters</h3>
                            <p class="short-desc">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor.</p>
                        </div>
                        <div class="widget-form-area">
                            <form class="widget-form" action="#">
                                <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                                <div class="button-wrap pt-5">
                                    <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-3" data-bg-color="#bac34e">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright">
                            <span class="copyright-text text-white">© 2021 Harmic Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">HasThemes</a> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Area End Here -->

    <!-- Begin Scroll To Top -->
    <a class="scroll-to-top" href="">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- Scroll To Top End Here -->

</div>

<!-- Global Vendor, plugins JS -->

<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->

<!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
<link rel="stylesheet" th:href="@{css/vendor/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{css/vendor/Pe-icon-7-stroke.css}" />

<!-- Plugin CSS (Global Plugins Files) -->
<link rel="stylesheet" th:href="@{css/plugins/animate.min.css}">
<link rel="stylesheet" th:href="@{css/plugins/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{css/plugins/swiper-bundle.min.css}">
<link rel="stylesheet" th:href="@{css/plugins/nice-select.css}">
<link rel="stylesheet" th:href="@{css/plugins/magnific-popup.min.css}"/>

<!--Main JS (Common Activation Codes)-->
<script src="js/main.js"></script>

</body>

</html>